<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form id="caracteristicasLiquido">
            <h3>CARACTERÍSTICAS DO LÍQUIDO</h3>
            <input type="text" placeholder="Temperatura (°C)" name="temperatura" required>
            <input type="text" placeholder="Viscosidade" name="viscosidade" required>
            <div class="btn-box">
                <button type="button" id="next1" name="botaoNext1">
                    Next
                </button>
            </div>
        </form>

        <form id="caracteristicasSistema">
            <h3>CARACTERÍSTICAS DO SISTEMA</h3>
            <input type="text" placeholder="Altura Inicial" name="alturaInicial" required>
            <input type="text" placeholder="Altura Final" name="alturaFinal" required>
            <input type="text" placeholder="Diâmetro do cano (mm)" name="diametro" required>
            <input type="text" placeholder="Material" name="material" required>
            <div class="btn-box">
                <button type="button" id="back1" name="botaoBack1">
                    Back
                </button>
                <button type="submit" id="next2" name="botaoNex2">
                    Next
                </button>
            </div>
        </form>

        <dvi class="step-row">
            <div id="progress"></div>
            <div class="step-col"><small>Step 1</small></div>
            <div class="step-col"><small>Step 2</small></div>
            <div class="step-col"><small>Step 3</small></div>
        </dvi>


    </div>

    <script>
        var caracteristicasLiquido = document.getElementById("caracteristicasLiquido");
        var caracteristicasSistema = document.getElementById("caracteristicasSistema");

        var next1 = document.getElementById("next1");
        var next2 = document.getElementById("next2");
        var back1 = document.getElementById("back1");

        var progress = document.getElementById("progress");

        next1.onclick = function () {
            caracteristicasLiquido.style.left = "-450px";
            caracteristicasSistema.style.left = "40px";
            progress.style.width = "240px";
        }

        back1.onclick = function () {
            caracteristicasLiquido.style.left = "40px";
            caracteristicasSistema.style.left = "450px";
            progress.style.width = "120px";
        }
    </script>
</body>

</html>